#header {
  border-radius: 2.5%;
  box-shadow: 10px, 10px, 5px, gray;
  background-color: rgba(63, 63, 63, 0.938);
  color: white;
  padding: 1px;
  text-align: center;
}

body {
  background-color: aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 3px 3px rgb(36, 207, 141), -1em 0;
  text-align: center;
}

.spotlight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 3px 3px rgb(219, 90, 34), -1em 0;
}

.centred {
  text-align: center;
}

h1 {
  color: teal;
  font-weight: 400;
  text-align: center;
}

h2, h3 {
  color: #cdcba3;
  font-weight: 400;
}

a:hover {
  color: rgb(255, 119, 0);
}

.card_white {
  border-radius: 2.5%;
  background-color: white;
  box-shadow: 10px, 10px, 5px, gray;
  margin: 2.5%;
  margin-right: 15px;
  margin-left: 15px;
  padding: 1px;
  border: 0.5px solid lightgrey;
  text-align: center;
}
.card_grey {
  border-radius: 2.5%;
  background-color: rgba(124, 124, 124, 0.938);
  box-shadow: 10px, 10px, 5px, gray;
  margin: 2.5%;
  margin-right: 15px;
  margin-left: 15px;
  padding: 1px;
  border: 0.5px solid lightgrey;
  text-align: center;
}
.card_clear {
  border-radius: 2.5%;
  box-shadow: 10px, 10px, 5px, gray;
  margin: 2.5%;
  margin-right: 15px;
  margin-left: 15px;
  padding: 1px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}
